In [6]:
import numpy as np
import pandas as pd
%matplotlib inline
import seaborn as sns
from pandas import ExcelWriter
import os
import io
import requests

In [ ]:
#direccion donde esta alojado el data set
url="https://raw.githubusercontent.com/ricnef2121/ceneval/master/2dataframelimpioCompleto/ceneval.csv"
# obtenemos el contenido de la url mediante una peticion get
s=requests.get(url).content
#transaformamos el contenido en un dataframe
c=pd.read_csv(io.StringIO(s.decode('utf-8')))
#generamos un listado de las columnas que contengan NaN
f = c.columns[c.isna().any()].tolist()
#existen dos tipos de datos diferentes entre las columnas que contienen NaN
#tipo float y tipo object
#separamos los tipo object en un arreglo para posteriormente volver a filtrarlos
obj = []
#iteramos por cada elemnto de la lisa de NaN
for i in f:
    #si el elemento es del tipo object lo agregamo a la lista de objects
    if(c[i].dtype == object):
        #print(c[i].dtype)
        c[i].fillna(0, inplace=True)
        obj.append(i)
        #c[i].fillna(c[i].mean())
        #c=c.dropna(subset=[i])
        #si no
    else:
        #como es del tipo float sustituimos el NaN por un cero
        #c=c.dropna(subset=[i])
        c[i].fillna(0, inplace=True)
        #print(c[i].unique)
        
#c.PERFIL.unique()
# obtenemos los valores que no se repiten de las columna que son del tipo object
for n in obj:
    dd = c[n].unique()
    #print(n+str(dd))
#c[f]
# ya que solo la columna A4 contiene string procedemos a eliminarla
# y como las demas columns contiene numeros procedemos a cambiar el tipo de valor de la columna
# a tipo entero para sustituir los NaN por ceros tambien
c = c.drop(['A4'], axis=1)
for m in obj:
    if(m != "A4"):
        c[m] = pd.to_numeric(c[m], errors='coerce')
        #print(c[m])
#comprobamos que las columna ya no sean del tipo object
for m in obj:
    if(m != "A4"):
        print(c[m].dtype)
#verificamos nuevamnete que no haya columnas con datos NaN
h = c.columns[c.isna().any()].tolist()
# por cada elemento encontrado
#iteramos sobre sus columna y rellenamos los datos nan con ceros
for nn in h:
    c[nn].fillna(0, inplace=True)
#volvemos a comprobara que ya no existan columnas con datos NaN
k = c.columns[c.isna().any()].tolist()
#el resultado es un arreglo vacio ya que ya no datos NaN
k
#EL DATASET final quedaria asi
c
#generamos el nuevo archivo csv
df.to_csv('ceneval_limpio_3.csv')