In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
ceneval_csv = pd.read_csv(
    'ceneval_mentor.csv',
    encoding='utf-8',
    low_memory=False,
    usecols=['TIPO_EXA','ANO_NAC','SEXO','LENG_MA','LENG_PA','PLT_PROC','RAZ_RAPT','RAZ_RACT','RAZ_OPT','RAZ_PCUM','RAZ_CMNF','REG_PROC','PRO_LIC','BECA_DAC','BECA_NEC','OPI_NIVE','OPI_SLC','OPI_SERI','OPI_NIBA','OPI_ARM','COM_ESES','COM_ESMA','COM_ESAE','COM_EPAD','FOPR_ASAC','FOPR_TUTO','FOPR_APPS','FOPR_PRMO','FOPR_ELEX','FOPR_CLEX','FOPR_AULA','FOPR_LATA','FOPR_BIBL','FOPR_SACO','FOPR_CAFE','FOPR_ESDE','FOPR_SDTE','FOPR_ACIN','FOPR_ACEL','FOPR_ABRE','FOPR_BOTR','FOPR_LIMP','FOME_PECR','FOME_APAU','FOME_CARE','FOME_FOPR','FOME_FOTE','FOME_EXOR','FOME_EXES','FOME_IDEX','FOME_MDLT','FOME_HBSI','FOME_ABOR','FOME_ABRP','FOME_VCDE','FOME_LIDE','FOME_CMPP','FOME_TODE','FOME_TRCO','FOME_CUGE','FOME_REIN','FOME_EOAD','FOME_CANE','FOME_FTGP','FOME_RESO','FOME_COET','FOME_CECC','FOME_CCMA','MAE_DMAT','MAE_UEDA','MAE_ASIS','MAE_CLAP','MAE_PPDE','MAE_TAR','MAE_RET','MAE_HEC','MAE_FAC','MAE_ICC','MAE_VNC','MAE_DCO','MAE_ICI','MAE_RDE','MAE_EIC','MAE_FIN','PRA_PROF','PRPF_AACA','PRPF_MPNC','PRPF_MAET','SER_MAAC','SER_MPNC','SER_MAET','TIEM_TRAB','SEMA_TRAB','INS_TRAB','HRS_TRAB','REL_TRA','EVA_ETRA','GAN_CLIC','SIT_LAB','ESC_MAD','ESC_PAD','CUAN_LIB','NIV_EDU','CPV_CASA','SER_TELE','SER_LAV','SER_REF','SER_HOR','SER_INTE','SER_TVP','SER_TABL','CUARTOS','SER_PC','SER_TV','SER_AUTO','SER_BANO','VAC_RM','DICTAMEN','VECES_EXAM']
)
ceneval_csv

,TIPO_EXA,ANO_NAC,SEXO,LENG_MA,LENG_PA,PLT_PROC,RAZ_RAPT,RAZ_RACT,RAZ_OPT,RAZ_PCUM,...,SER_TVP,SER_TABL,CUARTOS,SER_PC,SER_TV,SER_AUTO,SER_BANO,VAC_RM,DICTAMEN,VECES_EXAM
0,63,29,0,0.0,0.0,290,0.0,1.0,1.0,0.0,...,1.0,1.0,4.0,1.0,1.0,1.0,1.0,0.0,0,0
1,575,37,1,0.0,0.0,735,1.0,0.0,0.0,0.0,...,0.0,0.0,2.0,1.0,1.0,1.0,1.0,1.0,0,0
2,575,29,0,0.0,0.0,735,1.0,1.0,1.0,0.0,...,0.0,0.0,3.0,0.0,1.0,0.0,1.0,0.0,1,0
3,575,41,1,0.0,0.0,735,1.0,1.0,1.0,1.0,...,1.0,1.0,3.0,1.0,1.0,0.0,1.0,1.0,1,0
4,575,27,0,0.0,0.0,735,1.0,1.0,1.0,0.0,...,0.0,0.0,2.0,1.0,1.0,0.0,1.0,0.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15608,247,34,1,0.0,0.0,354,0.0,1.0,1.0,0.0,...,1.0,0.0,3.0,0.0,1.0,1.0,1.0,1.0,1,0
15609,575,51,1,0.0,0.0,735,0.0,1.0,1.0,0.0,...,0.0,0.0,2.0,0.0,1.0,1.0,1.0,1.0,0,0
15610,575,36,1,0.0,0.0,735,1.0,1.0,1.0,0.0,...,1.0,0.0,3.0,1.0,1.0,1.0,1.0,1.0,1,0
15611,575,45,1,0.0,0.0,735,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,1.0,1.0,1.0,1.0,1.0,0,0
15612,575,51,1,1.0,0.0,735,1.0,1.0,1.0,0.0,...,0.0,0.0,2.0,1.0,1.0,0.0,1.0,0.0,0,0

In [3]:
one_to_four = {
    1: 0.,
    2: .33,
    3: .66,
    4: 1.
}

In [4]:
four_to_one = {
    4: 0.,
    3: .33,
    2: .66,
    1: 1.
}

In [5]:
one_to_five = {
    1: 0.,
    2: .25,
    3: .50,
    4: .75,
    5: 1.,
}

In [6]:
five_to_one = {
    5: 0.,
    4: .25,
    3: .50,
    3: .75,
    1: 1.,
}

In [7]:
def show_columns_uniques(data_frame, column_name):
    data_columns = data_frame.filter(regex=column_name)
    for col in data_columns:
        print(col, data_columns[col].unique())

In [8]:
def show_columns_data(data_frame, column_name):
    data_columns = data_frame.filter(regex=column_name)
    for col in data_columns:
        print(col, data_columns[col])

In [9]:
def convert_columns_to_binary(data_frame, column_names, zeros):
    columns = data_frame.filter(regex=column_names)
    for col in columns:
        data_frame[col] = data_frame[col].map(lambda val: zeros.get(int(val), 1)).astype(np.float32)
    return data_frame

In [10]:
def convert_columns_to_ordinal(data_frame, column_names, SCALES):
    columns = data_frame.filter(regex=column_names)
    for col in columns:
        data_frame[col] = data_frame[col].map(lambda val: SCALES[int(val)]).astype(np.float32)
    return data_frame

In [11]:
show_columns_uniques(ceneval_csv, '^FOME_*')

FOME_PECR [3. 4. 2. 1.]
FOME_APAU [3. 4. 2. 1.]
FOME_CARE [3. 4. 2. 1.]
FOME_FOPR [3. 4. 2. 1.]
FOME_FOTE [4. 3. 2. 1.]
FOME_EXOR [3. 4. 2. 1.]
FOME_EXES [3. 4. 2. 1.]
FOME_IDEX [3. 4. 1. 2.]
FOME_MDLT [3. 4. 1. 2.]
FOME_HBSI [4. 3. 1. 2.]
FOME_ABOR [3. 4. 1. 2.]
FOME_ABRP [3. 4. 1. 2.]
FOME_VCDE [2. 3. 4. 1.]
FOME_LIDE [2. 3. 4. 1.]
FOME_CMPP [3. 4. 2. 1.]
FOME_TODE [3. 4. 2. 1.]
FOME_TRCO [3. 4. 2. 1.]
FOME_CUGE [3. 4. 2. 1.]
FOME_REIN [3. 4. 2. 1.]
FOME_EOAD [3. 4. 2. 1.]
FOME_CANE [2. 3. 4. 1.]
FOME_FTGP [3. 4. 2. 1.]
FOME_RESO [2. 3. 4. 1.]
FOME_COET [3. 4. 2. 1.]
FOME_CECC [3. 4. 2. 1.]
FOME_CCMA [3. 4. 2. 1.]

In [12]:
show_columns_uniques(ceneval_csv, '^MAE_*')

MAE_DMAT [3. 4. 2. 1.]
MAE_UEDA [2. 3. 4. 1.]
MAE_ASIS [4. 3. 2. 1.]
MAE_CLAP [3. 4. 2. 1.]
MAE_PPDE [2. 4. 3. 1.]
MAE_TAR [3. 4. 2. 1.]
MAE_RET [2. 3. 4. 1.]
MAE_HEC [3. 4. 2. 1.]
MAE_FAC [2. 1. 3. 4.]
MAE_ICC [3. 4. 2. 1.]
MAE_VNC [3. 2. 4. 1.]
MAE_DCO [2. 4. 3. 1.]
MAE_ICI [2. 4. 3. 1.]
MAE_RDE [3. 2. 4. 1.]
MAE_EIC [3. 4. 2. 1.]
MAE_FIN [2. 3. 4. 1.]

In [13]:
show_columns_uniques(ceneval_csv, '^PRA_*')

PRA_PROF [2. 1. 4. 3.]

In [14]:
show_columns_uniques(ceneval_csv, '^PRP_*')

PRPF_AACA [4. 5. 1. 3. 2.]
PRPF_MPNC [3. 5. 1. 4. 2.]
PRPF_MAET [4. 5. 1. 2. 3.]

In [15]:
show_columns_uniques(ceneval_csv, '^SER_*')

SER_MAAC [4. 5. 3. 1. 2.]
SER_MPNC [4. 5. 3. 1. 2.]
SER_MAET [4. 5. 2. 3. 1.]
SER_TELE [1. 0.]
SER_LAV [1. 0.]
SER_REF [1. 0.]
SER_HOR [0. 1.]
SER_INTE [1. 0.]
SER_TVP [1. 0.]
SER_TABL [1. 0.]
SER_PC [1. 0.]
SER_TV [1. 0.]
SER_AUTO [1. 0.]
SER_BANO [1. 0.]

In [16]:
convert_columns_to_binary(ceneval_csv, '^FOME_*', zeros={1:0})

,TIPO_EXA,ANO_NAC,SEXO,LENG_MA,LENG_PA,PLT_PROC,RAZ_RAPT,RAZ_RACT,RAZ_OPT,RAZ_PCUM,...,SER_TVP,SER_TABL,CUARTOS,SER_PC,SER_TV,SER_AUTO,SER_BANO,VAC_RM,DICTAMEN,VECES_EXAM
0,63,29,0,0.0,0.0,290,0.0,1.0,1.0,0.0,...,1.0,1.0,4.0,1.0,1.0,1.0,1.0,0.0,0,0
1,575,37,1,0.0,0.0,735,1.0,0.0,0.0,0.0,...,0.0,0.0,2.0,1.0,1.0,1.0,1.0,1.0,0,0
2,575,29,0,0.0,0.0,735,1.0,1.0,1.0,0.0,...,0.0,0.0,3.0,0.0,1.0,0.0,1.0,0.0,1,0
3,575,41,1,0.0,0.0,735,1.0,1.0,1.0,1.0,...,1.0,1.0,3.0,1.0,1.0,0.0,1.0,1.0,1,0
4,575,27,0,0.0,0.0,735,1.0,1.0,1.0,0.0,...,0.0,0.0,2.0,1.0,1.0,0.0,1.0,0.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15608,247,34,1,0.0,0.0,354,0.0,1.0,1.0,0.0,...,1.0,0.0,3.0,0.0,1.0,1.0,1.0,1.0,1,0
15609,575,51,1,0.0,0.0,735,0.0,1.0,1.0,0.0,...,0.0,0.0,2.0,0.0,1.0,1.0,1.0,1.0,0,0
15610,575,36,1,0.0,0.0,735,1.0,1.0,1.0,0.0,...,1.0,0.0,3.0,1.0,1.0,1.0,1.0,1.0,1,0
15611,575,45,1,0.0,0.0,735,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,1.0,1.0,1.0,1.0,1.0,0,0
15612,575,51,1,1.0,0.0,735,1.0,1.0,1.0,0.0,...,0.0,0.0,2.0,1.0,1.0,0.0,1.0,0.0,0,0

In [17]:
convert_columns_to_binary(ceneval_csv, '^(PRA_|PRP_|SER_(MAAC|MPNC|MAET))', zeros={1:0,2:0})

,TIPO_EXA,ANO_NAC,SEXO,LENG_MA,LENG_PA,PLT_PROC,RAZ_RAPT,RAZ_RACT,RAZ_OPT,RAZ_PCUM,...,SER_TVP,SER_TABL,CUARTOS,SER_PC,SER_TV,SER_AUTO,SER_BANO,VAC_RM,DICTAMEN,VECES_EXAM
0,63,29,0,0.0,0.0,290,0.0,1.0,1.0,0.0,...,1.0,1.0,4.0,1.0,1.0,1.0,1.0,0.0,0,0
1,575,37,1,0.0,0.0,735,1.0,0.0,0.0,0.0,...,0.0,0.0,2.0,1.0,1.0,1.0,1.0,1.0,0,0
2,575,29,0,0.0,0.0,735,1.0,1.0,1.0,0.0,...,0.0,0.0,3.0,0.0,1.0,0.0,1.0,0.0,1,0
3,575,41,1,0.0,0.0,735,1.0,1.0,1.0,1.0,...,1.0,1.0,3.0,1.0,1.0,0.0,1.0,1.0,1,0
4,575,27,0,0.0,0.0,735,1.0,1.0,1.0,0.0,...,0.0,0.0,2.0,1.0,1.0,0.0,1.0,0.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15608,247,34,1,0.0,0.0,354,0.0,1.0,1.0,0.0,...,1.0,0.0,3.0,0.0,1.0,1.0,1.0,1.0,1,0
15609,575,51,1,0.0,0.0,735,0.0,1.0,1.0,0.0,...,0.0,0.0,2.0,0.0,1.0,1.0,1.0,1.0,0,0
15610,575,36,1,0.0,0.0,735,1.0,1.0,1.0,0.0,...,1.0,0.0,3.0,1.0,1.0,1.0,1.0,1.0,1,0
15611,575,45,1,0.0,0.0,735,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,1.0,1.0,1.0,1.0,1.0,0,0
15612,575,51,1,1.0,0.0,735,1.0,1.0,1.0,0.0,...,0.0,0.0,2.0,1.0,1.0,0.0,1.0,0.0,0,0

In [18]:
show_columns_uniques(ceneval_csv, '^(FOME_|MAE_|PRA_|PRP_|SER_(MAAC|MPNC|MAET))')

FOME_PECR [1. 0.]
FOME_APAU [1. 0.]
FOME_CARE [1. 0.]
FOME_FOPR [1. 0.]
FOME_FOTE [1. 0.]
FOME_EXOR [1. 0.]
FOME_EXES [1. 0.]
FOME_IDEX [1. 0.]
FOME_MDLT [1. 0.]
FOME_HBSI [1. 0.]
FOME_ABOR [1. 0.]
FOME_ABRP [1. 0.]
FOME_VCDE [1. 0.]
FOME_LIDE [1. 0.]
FOME_CMPP [1. 0.]
FOME_TODE [1. 0.]
FOME_TRCO [1. 0.]
FOME_CUGE [1. 0.]
FOME_REIN [1. 0.]
FOME_EOAD [1. 0.]
FOME_CANE [1. 0.]
FOME_FTGP [1. 0.]
FOME_RESO [1. 0.]
FOME_COET [1. 0.]
FOME_CECC [1. 0.]
FOME_CCMA [1. 0.]
MAE_DMAT [3. 4. 2. 1.]
MAE_UEDA [2. 3. 4. 1.]
MAE_ASIS [4. 3. 2. 1.]
MAE_CLAP [3. 4. 2. 1.]
MAE_PPDE [2. 4. 3. 1.]
MAE_TAR [3. 4. 2. 1.]
MAE_RET [2. 3. 4. 1.]
MAE_HEC [3. 4. 2. 1.]
MAE_FAC [2. 1. 3. 4.]
MAE_ICC [3. 4. 2. 1.]
MAE_VNC [3. 2. 4. 1.]
MAE_DCO [2. 4. 3. 1.]
MAE_ICI [2. 4. 3. 1.]
MAE_RDE [3. 2. 4. 1.]
MAE_EIC [3. 4. 2. 1.]
MAE_FIN [2. 3. 4. 1.]
PRA_PROF [0. 1.]
SER_MAAC [1. 0.]
SER_MPNC [1. 0.]
SER_MAET [1. 0.]

In [19]:
ceneval_csv.FOME_ABOR

0        1.0
1        1.0
2        1.0
3        1.0
4        1.0
        ...
15608    1.0
15609    1.0
15610    1.0
15611    1.0
15612    1.0
Name: FOME_ABOR, Length: 15613, dtype: float32

In [20]:
convert_columns_to_ordinal(ceneval_csv, '^MAE_*', SCALES=one_to_four)

,TIPO_EXA,ANO_NAC,SEXO,LENG_MA,LENG_PA,PLT_PROC,RAZ_RAPT,RAZ_RACT,RAZ_OPT,RAZ_PCUM,...,SER_TVP,SER_TABL,CUARTOS,SER_PC,SER_TV,SER_AUTO,SER_BANO,VAC_RM,DICTAMEN,VECES_EXAM
0,63,29,0,0.0,0.0,290,0.0,1.0,1.0,0.0,...,1.0,1.0,4.0,1.0,1.0,1.0,1.0,0.0,0,0
1,575,37,1,0.0,0.0,735,1.0,0.0,0.0,0.0,...,0.0,0.0,2.0,1.0,1.0,1.0,1.0,1.0,0,0
2,575,29,0,0.0,0.0,735,1.0,1.0,1.0,0.0,...,0.0,0.0,3.0,0.0,1.0,0.0,1.0,0.0,1,0
3,575,41,1,0.0,0.0,735,1.0,1.0,1.0,1.0,...,1.0,1.0,3.0,1.0,1.0,0.0,1.0,1.0,1,0
4,575,27,0,0.0,0.0,735,1.0,1.0,1.0,0.0,...,0.0,0.0,2.0,1.0,1.0,0.0,1.0,0.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15608,247,34,1,0.0,0.0,354,0.0,1.0,1.0,0.0,...,1.0,0.0,3.0,0.0,1.0,1.0,1.0,1.0,1,0
15609,575,51,1,0.0,0.0,735,0.0,1.0,1.0,0.0,...,0.0,0.0,2.0,0.0,1.0,1.0,1.0,1.0,0,0
15610,575,36,1,0.0,0.0,735,1.0,1.0,1.0,0.0,...,1.0,0.0,3.0,1.0,1.0,1.0,1.0,1.0,1,0
15611,575,45,1,0.0,0.0,735,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,1.0,1.0,1.0,1.0,1.0,0,0
15612,575,51,1,1.0,0.0,735,1.0,1.0,1.0,0.0,...,0.0,0.0,2.0,1.0,1.0,0.0,1.0,0.0,0,0

In [21]:
show_columns_uniques(ceneval_csv, '^MAE_*')

MAE_DMAT [0.66000003 1.         0.33000001 0.        ]
MAE_UEDA [0.33000001 0.66000003 1.         0.        ]
MAE_ASIS [1.         0.66000003 0.33000001 0.        ]
MAE_CLAP [0.66000003 1.         0.33000001 0.        ]
MAE_PPDE [0.33000001 1.         0.66000003 0.        ]
MAE_TAR [0.66000003 1.         0.33000001 0.        ]
MAE_RET [0.33000001 0.66000003 1.         0.        ]
MAE_HEC [0.66000003 1.         0.33000001 0.        ]
MAE_FAC [0.33000001 0.         0.66000003 1.        ]
MAE_ICC [0.66000003 1.         0.33000001 0.        ]
MAE_VNC [0.66000003 0.33000001 1.         0.        ]
MAE_DCO [0.33000001 1.         0.66000003 0.        ]
MAE_ICI [0.33000001 1.         0.66000003 0.        ]
MAE_RDE [0.66000003 0.33000001 1.         0.        ]
MAE_EIC [0.66000003 1.         0.33000001 0.        ]
MAE_FIN [0.33000001 0.66000003 1.         0.        ]

In [22]:
show_columns_uniques(ceneval_csv, '^LENG_*')

LENG_MA [0. 1. 3.]
LENG_PA [0. 1. 3.]

In [23]:
convert_columns_to_binary(ceneval_csv, '^LENG_*', zeros={0:0, 2:0, 3:0})

,TIPO_EXA,ANO_NAC,SEXO,LENG_MA,LENG_PA,PLT_PROC,RAZ_RAPT,RAZ_RACT,RAZ_OPT,RAZ_PCUM,...,SER_TVP,SER_TABL,CUARTOS,SER_PC,SER_TV,SER_AUTO,SER_BANO,VAC_RM,DICTAMEN,VECES_EXAM
0,63,29,0,0.0,0.0,290,0.0,1.0,1.0,0.0,...,1.0,1.0,4.0,1.0,1.0,1.0,1.0,0.0,0,0
1,575,37,1,0.0,0.0,735,1.0,0.0,0.0,0.0,...,0.0,0.0,2.0,1.0,1.0,1.0,1.0,1.0,0,0
2,575,29,0,0.0,0.0,735,1.0,1.0,1.0,0.0,...,0.0,0.0,3.0,0.0,1.0,0.0,1.0,0.0,1,0
3,575,41,1,0.0,0.0,735,1.0,1.0,1.0,1.0,...,1.0,1.0,3.0,1.0,1.0,0.0,1.0,1.0,1,0
4,575,27,0,0.0,0.0,735,1.0,1.0,1.0,0.0,...,0.0,0.0,2.0,1.0,1.0,0.0,1.0,0.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15608,247,34,1,0.0,0.0,354,0.0,1.0,1.0,0.0,...,1.0,0.0,3.0,0.0,1.0,1.0,1.0,1.0,1,0
15609,575,51,1,0.0,0.0,735,0.0,1.0,1.0,0.0,...,0.0,0.0,2.0,0.0,1.0,1.0,1.0,1.0,0,0
15610,575,36,1,0.0,0.0,735,1.0,1.0,1.0,0.0,...,1.0,0.0,3.0,1.0,1.0,1.0,1.0,1.0,1,0
15611,575,45,1,0.0,0.0,735,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,1.0,1.0,1.0,1.0,1.0,0,0
15612,575,51,1,1.0,0.0,735,1.0,1.0,1.0,0.0,...,0.0,0.0,2.0,1.0,1.0,0.0,1.0,0.0,0,0

In [24]:
show_columns_uniques(ceneval_csv, '^LENG_*')

LENG_MA [0. 1.]
LENG_PA [0. 1.]

In [25]:
df = ceneval_csv

In [26]:
df.ANO_NAC = df.ANO_NAC.replace({1944: 75})

In [27]:
df.ANO_NAC = df.ANO_NAC.replace({1951: 68})

In [28]:
df.LENG_MA = df.LENG_MA.replace({3: 0})

In [29]:
df.LENG_PA = df.LENG_PA.replace({3: 0})

In [30]:
df.BECA_DAC = df.BECA_DAC.replace({2: 0})

In [31]:
df.BECA_NEC = df.BECA_NEC.replace({2: 0})

In [32]:
df.OPI_NIVE = df.OPI_NIVE.replace({2: 1})

In [33]:
df.OPI_NIVE = df.OPI_NIVE.replace({3: 0})
df.OPI_NIVE = df.OPI_NIVE.replace({4: 0})

In [34]:
df.OPI_SLC = df.OPI_SLC.replace({2: 1})

df.OPI_SLC = df.OPI_SLC.replace({3: 0})
df.OPI_SLC = df.OPI_SLC.replace({4: 0})

In [35]:
df.OPI_SERI = df.OPI_SERI.replace({2: 1})
df.OPI_SERI = df.OPI_SERI.replace({3: 0})
df.OPI_SERI = df.OPI_SERI.replace({4: 0})

In [36]:
df.OPI_NIBA = df.OPI_NIBA.replace({2: 1})
df.OPI_NIBA = df.OPI_NIBA.replace({3: 0})
df.OPI_NIBA = df.OPI_NIBA.replace({4: 0})

In [37]:
df.OPI_ARM = df.OPI_ARM.replace({2: 1})
df.OPI_ARM = df.OPI_ARM.replace({3: 0})
df.OPI_ARM = df.OPI_ARM.replace({4: 0})

In [38]:
df.COM_ESES = df.COM_ESES.replace({1:0})
df.COM_ESES = df.COM_ESES.replace({2:0})

In [39]:
df.COM_ESES = df.COM_ESES.replace({3:1})
df.COM_ESES = df.COM_ESES.replace({4:1})

In [40]:
df.COM_ESMA = df.COM_ESMA.replace({1:0})
df.COM_ESMA = df.COM_ESMA.replace({2:0})

In [41]:
df.COM_ESMA = df.COM_ESMA.replace({3:1})
df.COM_ESMA = df.COM_ESMA.replace({4:1})

In [42]:
df.COM_ESAE = df.COM_ESAE.replace({1:0})
df.COM_ESAE = df.COM_ESAE.replace({2:0})

In [43]:
df.COM_ESAE = df.COM_ESAE.replace({3:1})
df.COM_ESAE = df.COM_ESAE.replace({4:1})

In [44]:
df.COM_EPAD = df.COM_EPAD.replace({1:0})
df.COM_EPAD = df.COM_EPAD.replace({2:0})

In [45]:
df.COM_EPAD = df.COM_EPAD.replace({3:1})
df.COM_EPAD = df.COM_EPAD.replace({4:1})

In [46]:
df.FOPR_ASAC = df.FOPR_ASAC.replace({1:0})
df.FOPR_ASAC = df.FOPR_ASAC.replace({2:0})

In [47]:
df.FOPR_ASAC = df.FOPR_ASAC.replace({3:1})
df.FOPR_ASAC = df.FOPR_ASAC.replace({4:1})
df.FOPR_ASAC = df.FOPR_ASAC.replace({5:1})

In [48]:
df.FOPR_TUTO = df.FOPR_TUTO.replace({1:0})
df.FOPR_TUTO = df.FOPR_TUTO.replace({2:0})

In [49]:
df.FOPR_TUTO = df.FOPR_TUTO.replace({3:1})
df.FOPR_TUTO = df.FOPR_TUTO.replace({4:1})
df.FOPR_TUTO = df.FOPR_TUTO.replace({5:1})

In [50]:
df.FOPR_APPS = df.FOPR_APPS.replace({1:0})
df.FOPR_APPS = df.FOPR_APPS.replace({2:0})

In [51]:
df.FOPR_APPS = df.FOPR_APPS.replace({3:1})
df.FOPR_APPS = df.FOPR_APPS.replace({4:1})
df.FOPR_APPS = df.FOPR_APPS.replace({5:1})

In [52]:
df.FOPR_PRMO = df.FOPR_PRMO.replace({1:0})
df.FOPR_PRMO = df.FOPR_PRMO.replace({2:0})

In [53]:
df.FOPR_PRMO = df.FOPR_PRMO.replace({3:1})
df.FOPR_PRMO = df.FOPR_PRMO.replace({4:1})
df.FOPR_PRMO = df.FOPR_PRMO.replace({5:1})

In [54]:
df.FOPR_ELEX = df.FOPR_ELEX.replace({1:0})
df.FOPR_ELEX = df.FOPR_ELEX.replace({2:0})

In [55]:
df.FOPR_ELEX = df.FOPR_ELEX.replace({3:1})
df.FOPR_ELEX = df.FOPR_ELEX.replace({4:1})
df.FOPR_ELEX = df.FOPR_ELEX.replace({5:1})

In [56]:
df.FOPR_CLEX = df.FOPR_CLEX.replace({5:1})

In [57]:
df.FOPR_AULA = df.FOPR_AULA.replace({5:1})

In [58]:
df.FOPR_LATA = df.FOPR_LATA.replace({5:1})

In [59]:
df.FOPR_BIBL = df.FOPR_BIBL.replace({5:1})

In [60]:
df.FOPR_SACO = df.FOPR_SACO.replace({5:1})

In [61]:
df.FOPR_CAFE = df.FOPR_CAFE.replace({5:1})

In [62]:
df.FOPR_ESDE = df.FOPR_ESDE.replace({5:1})

In [63]:
df.FOPR_SDTE = df.FOPR_SDTE.replace({5:1})

In [64]:
df.FOPR_ACIN = df.FOPR_ACIN.replace({5:1})

In [65]:
df.FOPR_ACEL = df.FOPR_ACEL.replace({5:1})

In [66]:
df.FOPR_ABRE = df.FOPR_ABRE.replace({5:1})

In [67]:
df.FOPR_BOTR = df.FOPR_BOTR.replace({5:1})

In [68]:
df.PLT_PROC = df.PLT_PROC.replace({197:0.024})
df.PLT_PROC = df.PLT_PROC.replace({413:0.0506})
df.PLT_PROC = df.PLT_PROC.replace({1431:0.1756})
df.PLT_PROC = df.PLT_PROC.replace({1795:0.2203})
df.PLT_PROC = df.PLT_PROC.replace({1150:0.1411})
df.PLT_PROC = df.PLT_PROC.replace({511:0.0627})
df.PLT_PROC = df.PLT_PROC.replace({180:0.022})
df.PLT_PROC = df.PLT_PROC.replace({354:0.0434})
df.PLT_PROC = df.PLT_PROC.replace({154:0.0189})
df.PLT_PROC = df.PLT_PROC.replace({473:0.058})
df.PLT_PROC = df.PLT_PROC.replace({108:0.0132})
df.PLT_PROC = df.PLT_PROC.replace({290:0.0355})
df.PLT_PROC = df.PLT_PROC.replace({211:0.0259})
df.PLT_PROC = df.PLT_PROC.replace({125:0.0153})
df.PLT_PROC = df.PLT_PROC.replace({735:0.090})
df.PLT_PROC = df.PLT_PROC.replace({41:0.0050})

In [69]:
df.TIPO_EXA = df.TIPO_EXA.replace({886:0.1087})      
df.TIPO_EXA = df.TIPO_EXA.replace({534:0.0655})      
df.TIPO_EXA = df.TIPO_EXA.replace({575:0.0705})     
df.TIPO_EXA = df.TIPO_EXA.replace({504:0.0618})       
df.TIPO_EXA = df.TIPO_EXA.replace({424:0.0520})           
df.TIPO_EXA = df.TIPO_EXA.replace({554:0.0680})          
df.TIPO_EXA = df.TIPO_EXA.replace({311:0.0381})         
df.TIPO_EXA = df.TIPO_EXA.replace({475:0.0583})        
df.TIPO_EXA = df.TIPO_EXA.replace({321:0.0394})           
df.TIPO_EXA = df.TIPO_EXA.replace({335:0.0411})          
df.TIPO_EXA = df.TIPO_EXA.replace({240:0.0294})        
df.TIPO_EXA = df.TIPO_EXA.replace({247:0.0303})          
df.TIPO_EXA = df.TIPO_EXA.replace({282:0.0346})        
df.TIPO_EXA = df.TIPO_EXA.replace({312:0.0382})         
df.TIPO_EXA = df.TIPO_EXA.replace({154:0.0189})      
df.TIPO_EXA = df.TIPO_EXA.replace({167:0.0204})          
df.TIPO_EXA = df.TIPO_EXA.replace({35:0.0042})         
df.TIPO_EXA = df.TIPO_EXA.replace({92:0.0112})         
df.TIPO_EXA = df.TIPO_EXA.replace({161:0.0197})         
df.TIPO_EXA = df.TIPO_EXA.replace({153:0.0187})        
df.TIPO_EXA = df.TIPO_EXA.replace({157:0.0192})         
df.TIPO_EXA = df.TIPO_EXA.replace({186:0.0228})      
df.TIPO_EXA = df.TIPO_EXA.replace({143:0.0175})          
df.TIPO_EXA = df.TIPO_EXA.replace({156:0.0191})           
df.TIPO_EXA = df.TIPO_EXA.replace({101:0.0123})       
df.TIPO_EXA = df.TIPO_EXA.replace({63:0.0077})        
df.TIPO_EXA = df.TIPO_EXA.replace({128:0.0157})          
df.TIPO_EXA = df.TIPO_EXA.replace({33:0.0040})          
df.TIPO_EXA = df.TIPO_EXA.replace({65:0.0079})         
df.TIPO_EXA = df.TIPO_EXA.replace({88:0.0108})           
df.TIPO_EXA = df.TIPO_EXA.replace({37:0.0045})          
df.TIPO_EXA = df.TIPO_EXA.replace({72:0.0088})          
df.TIPO_EXA = df.TIPO_EXA.replace({71:0.0087})            
df.TIPO_EXA = df.TIPO_EXA.replace({23:0.0028})       
df.TIPO_EXA = df.TIPO_EXA.replace({32:0.0039})         
df.TIPO_EXA = df.TIPO_EXA.replace({10:0.0012})       
df.TIPO_EXA = df.TIPO_EXA.replace({15:0.0018})      
df.TIPO_EXA = df.TIPO_EXA.replace({4:0.0004})          
df.TIPO_EXA = df.TIPO_EXA.replace({0:0.0})

In [70]:
'''
df.ANO_NAC = df.ANO_NAC.replace({20:0.25}) 
df.ANO_NAC = df.ANO_NAC.replace({21:0.25}) 
df.ANO_NAC = df.ANO_NAC.replace({22:0.25}) 
df.ANO_NAC = df.ANO_NAC.replace({23:0.25}) 
df.ANO_NAC = df.ANO_NAC.replace({24:0.25}) 
df.ANO_NAC = df.ANO_NAC.replace({25:0.5}) 
df.ANO_NAC = df.ANO_NAC.replace({26:0.5}) 
df.ANO_NAC = df.ANO_NAC.replace({27:0.5}) 
df.ANO_NAC = df.ANO_NAC.replace({28:0.5}) 

for i in range(47):
    v=29+i;
    df.ANO_NAC = df.ANO_NAC.replace({v: 0.75})
'''

'\ndf.ANO_NAC = df.ANO_NAC.replace({20:0.25}) \ndf.ANO_NAC = df.ANO_NAC.replace({21:0.25}) \ndf.ANO_NAC = df.ANO_NAC.replace({22:0.25}) \ndf.ANO_NAC = df.ANO_NAC.replace({23:0.25}) \ndf.ANO_NAC = df.ANO_NAC.replace({24:0.25}) \ndf.ANO_NAC = df.ANO_NAC.replace({25:0.5}) \ndf.ANO_NAC = df.ANO_NAC.replace({26:0.5}) \ndf.ANO_NAC = df.ANO_NAC.replace({27:0.5}) \ndf.ANO_NAC = df.ANO_NAC.replace({28:0.5}) \n\nfor i in range(47):\n    v=29+i;\n    df.ANO_NAC = df.ANO_NAC.replace({v: 0.75})\n'

## age normalization

In [71]:
quantile_ninety = df.ANO_NAC.quantile(.9)
quantile_ninety

32.0

In [72]:
show_columns_uniques(df,'ANO_NAC')

ANO_NAC [29 37 41 27 25 28 26 23 24 35 32 40 30 33 31 36 58 56 54 61 59 64 52 51
 55 53 68 49 47 48 50 46 45 44 75 43 42 38 34 39 57 62 66 22 60 21 20 70]

In [73]:
df.ANO_NAC = df.ANO_NAC.map(lambda age: age/quantile_ninety if age < quantile_ninety else 1.)
df.ANO_NAC

0        0.90625
1        1.00000
2        0.90625
3        1.00000
4        0.84375
          ...
15608    1.00000
15609    1.00000
15610    1.00000
15611    1.00000
15612    1.00000
Name: ANO_NAC, Length: 15613, dtype: float64

In [74]:
show_columns_uniques(df,'ANO_NAC')

ANO_NAC [0.90625 1.      0.84375 0.78125 0.875   0.8125  0.71875 0.75    0.9375
 0.96875 0.6875  0.65625 0.625  ]

### Dudas

**1. Convertir promedios a procentajes entre 0 y 1 (Normalizar)**

In [75]:
# convert_columns_to_ordinal(df, '^PRO_LIC*', SCALES={6:.20,7:.40,8:.60,9:.80,10:1.})

In [76]:
approved_count = df[df.DICTAMEN == 1].DICTAMEN.size
approved_count

8147

In [77]:
average_counts = df.groupby('PRO_LIC').PRO_LIC.count().to_dict()
average_counts

{6.0: 22, 7.0: 161, 8.0: 4583, 9.0: 9491, 10.0: 1356}

In [78]:
df.PRO_LIC = df.PRO_LIC.map(lambda average: average_counts[average] / approved_count if average_counts[average] < approved_count else 1.)
df.PRO_LIC

0        0.562538
1        1.000000
2        0.562538
3        1.000000
4        1.000000
           ...
15608    0.166442
15609    1.000000
15610    1.000000
15611    1.000000
15612    0.166442
Name: PRO_LIC, Length: 15613, dtype: float64

In [79]:
show_columns_uniques(df, '^PRO_LIC*')

PRO_LIC [0.56253836 1.         0.16644163 0.01976188 0.00270038]

**Actual: binario**

In [80]:
# convert_columns_to_binary(df, '^(OPI_|COM_)', zeros={1:0,2:0})
# convert_columns_to_ordinal(df, '^(OPI_|COM_)', SCALES=four_to_one)

In [81]:
# show_columns_uniques(df, '^(OPI_|COM_)')

In [82]:
# convert_columns_to_binary(df, '^FOPR_*', zeros={1:0,2:0})
# convert_columns_to_ordinal(df, '^FOPR_*', SCALES=four_to_one)

In [83]:
# show_columns_uniques(df, '^FOPR_*')

In [84]:
convert_columns_to_binary(df, 'INS_TRAB', zeros={1:0})

,TIPO_EXA,ANO_NAC,SEXO,LENG_MA,LENG_PA,PLT_PROC,RAZ_RAPT,RAZ_RACT,RAZ_OPT,RAZ_PCUM,...,SER_TVP,SER_TABL,CUARTOS,SER_PC,SER_TV,SER_AUTO,SER_BANO,VAC_RM,DICTAMEN,VECES_EXAM
0,0.0077,0.90625,0,0.0,0.0,0.0355,0.0,1.0,1.0,0.0,...,1.0,1.0,4.0,1.0,1.0,1.0,1.0,0.0,0,0
1,0.0705,1.00000,1,0.0,0.0,0.0900,1.0,0.0,0.0,0.0,...,0.0,0.0,2.0,1.0,1.0,1.0,1.0,1.0,0,0
2,0.0705,0.90625,0,0.0,0.0,0.0900,1.0,1.0,1.0,0.0,...,0.0,0.0,3.0,0.0,1.0,0.0,1.0,0.0,1,0
3,0.0705,1.00000,1,0.0,0.0,0.0900,1.0,1.0,1.0,1.0,...,1.0,1.0,3.0,1.0,1.0,0.0,1.0,1.0,1,0
4,0.0705,0.84375,0,0.0,0.0,0.0900,1.0,1.0,1.0,0.0,...,0.0,0.0,2.0,1.0,1.0,0.0,1.0,0.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15608,0.0303,1.00000,1,0.0,0.0,0.0434,0.0,1.0,1.0,0.0,...,1.0,0.0,3.0,0.0,1.0,1.0,1.0,1.0,1,0
15609,0.0705,1.00000,1,0.0,0.0,0.0900,0.0,1.0,1.0,0.0,...,0.0,0.0,2.0,0.0,1.0,1.0,1.0,1.0,0,0
15610,0.0705,1.00000,1,0.0,0.0,0.0900,1.0,1.0,1.0,0.0,...,1.0,0.0,3.0,1.0,1.0,1.0,1.0,1.0,1,0
15611,0.0705,1.00000,1,0.0,0.0,0.0900,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,1.0,1.0,1.0,1.0,1.0,0,0
15612,0.0705,1.00000,1,1.0,0.0,0.0900,1.0,1.0,1.0,0.0,...,0.0,0.0,2.0,1.0,1.0,0.0,1.0,0.0,0,0

In [85]:
show_columns_uniques(df, 'INS_TRAB')

INS_TRAB [0. 1.]

In [86]:
convert_columns_to_binary(df, 'REL_TRA|EVA_ETRA', zeros={1:0,2:0})
# convert_columns_to_ordinal(df, '(REL|EVA)_TRA', SCALES=four_to_one)

,TIPO_EXA,ANO_NAC,SEXO,LENG_MA,LENG_PA,PLT_PROC,RAZ_RAPT,RAZ_RACT,RAZ_OPT,RAZ_PCUM,...,SER_TVP,SER_TABL,CUARTOS,SER_PC,SER_TV,SER_AUTO,SER_BANO,VAC_RM,DICTAMEN,VECES_EXAM
0,0.0077,0.90625,0,0.0,0.0,0.0355,0.0,1.0,1.0,0.0,...,1.0,1.0,4.0,1.0,1.0,1.0,1.0,0.0,0,0
1,0.0705,1.00000,1,0.0,0.0,0.0900,1.0,0.0,0.0,0.0,...,0.0,0.0,2.0,1.0,1.0,1.0,1.0,1.0,0,0
2,0.0705,0.90625,0,0.0,0.0,0.0900,1.0,1.0,1.0,0.0,...,0.0,0.0,3.0,0.0,1.0,0.0,1.0,0.0,1,0
3,0.0705,1.00000,1,0.0,0.0,0.0900,1.0,1.0,1.0,1.0,...,1.0,1.0,3.0,1.0,1.0,0.0,1.0,1.0,1,0
4,0.0705,0.84375,0,0.0,0.0,0.0900,1.0,1.0,1.0,0.0,...,0.0,0.0,2.0,1.0,1.0,0.0,1.0,0.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15608,0.0303,1.00000,1,0.0,0.0,0.0434,0.0,1.0,1.0,0.0,...,1.0,0.0,3.0,0.0,1.0,1.0,1.0,1.0,1,0
15609,0.0705,1.00000,1,0.0,0.0,0.0900,0.0,1.0,1.0,0.0,...,0.0,0.0,2.0,0.0,1.0,1.0,1.0,1.0,0,0
15610,0.0705,1.00000,1,0.0,0.0,0.0900,1.0,1.0,1.0,0.0,...,1.0,0.0,3.0,1.0,1.0,1.0,1.0,1.0,1,0
15611,0.0705,1.00000,1,0.0,0.0,0.0900,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,1.0,1.0,1.0,1.0,1.0,0,0
15612,0.0705,1.00000,1,1.0,0.0,0.0900,1.0,1.0,1.0,0.0,...,0.0,0.0,2.0,1.0,1.0,0.0,1.0,0.0,0,0

In [87]:
show_columns_uniques(df, 'REL_TRA|EVA_ETRA')

REL_TRA [0. 1.]
EVA_ETRA [1. 0.]

**Actual: porcentaje**

In [88]:
# convert_columns_to_binary(df, '^(OPI_|COM_)', zeros={1:0,2:0})
convert_columns_to_ordinal(df, '(TIEM|SEMA|HRS)_TRA|SIT_LAB', SCALES=four_to_one)

,TIPO_EXA,ANO_NAC,SEXO,LENG_MA,LENG_PA,PLT_PROC,RAZ_RAPT,RAZ_RACT,RAZ_OPT,RAZ_PCUM,...,SER_TVP,SER_TABL,CUARTOS,SER_PC,SER_TV,SER_AUTO,SER_BANO,VAC_RM,DICTAMEN,VECES_EXAM
0,0.0077,0.90625,0,0.0,0.0,0.0355,0.0,1.0,1.0,0.0,...,1.0,1.0,4.0,1.0,1.0,1.0,1.0,0.0,0,0
1,0.0705,1.00000,1,0.0,0.0,0.0900,1.0,0.0,0.0,0.0,...,0.0,0.0,2.0,1.0,1.0,1.0,1.0,1.0,0,0
2,0.0705,0.90625,0,0.0,0.0,0.0900,1.0,1.0,1.0,0.0,...,0.0,0.0,3.0,0.0,1.0,0.0,1.0,0.0,1,0
3,0.0705,1.00000,1,0.0,0.0,0.0900,1.0,1.0,1.0,1.0,...,1.0,1.0,3.0,1.0,1.0,0.0,1.0,1.0,1,0
4,0.0705,0.84375,0,0.0,0.0,0.0900,1.0,1.0,1.0,0.0,...,0.0,0.0,2.0,1.0,1.0,0.0,1.0,0.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15608,0.0303,1.00000,1,0.0,0.0,0.0434,0.0,1.0,1.0,0.0,...,1.0,0.0,3.0,0.0,1.0,1.0,1.0,1.0,1,0
15609,0.0705,1.00000,1,0.0,0.0,0.0900,0.0,1.0,1.0,0.0,...,0.0,0.0,2.0,0.0,1.0,1.0,1.0,1.0,0,0
15610,0.0705,1.00000,1,0.0,0.0,0.0900,1.0,1.0,1.0,0.0,...,1.0,0.0,3.0,1.0,1.0,1.0,1.0,1.0,1,0
15611,0.0705,1.00000,1,0.0,0.0,0.0900,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,1.0,1.0,1.0,1.0,1.0,0,0
15612,0.0705,1.00000,1,1.0,0.0,0.0900,1.0,1.0,1.0,0.0,...,0.0,0.0,2.0,1.0,1.0,0.0,1.0,0.0,0,0

In [89]:
show_columns_uniques(df, '(TIEM|SEMA|HRS)_TRA|SIT_LAB')

TIEM_TRAB [1.         0.         0.33000001 0.66000003]
SEMA_TRAB [1.         0.33000001 0.         0.66000003]
HRS_TRAB [1.         0.33000001 0.         0.66000003]
SIT_LAB [0.33000001 0.66000003 1.         0.        ]

In [90]:
convert_columns_to_ordinal(df, 'GAN_CLIC', SCALES={
    6: 1.,
    5: .66,
    4: .66,
    3: .5,
    2: .33,
    1: 0.
})

,TIPO_EXA,ANO_NAC,SEXO,LENG_MA,LENG_PA,PLT_PROC,RAZ_RAPT,RAZ_RACT,RAZ_OPT,RAZ_PCUM,...,SER_TVP,SER_TABL,CUARTOS,SER_PC,SER_TV,SER_AUTO,SER_BANO,VAC_RM,DICTAMEN,VECES_EXAM
0,0.0077,0.90625,0,0.0,0.0,0.0355,0.0,1.0,1.0,0.0,...,1.0,1.0,4.0,1.0,1.0,1.0,1.0,0.0,0,0
1,0.0705,1.00000,1,0.0,0.0,0.0900,1.0,0.0,0.0,0.0,...,0.0,0.0,2.0,1.0,1.0,1.0,1.0,1.0,0,0
2,0.0705,0.90625,0,0.0,0.0,0.0900,1.0,1.0,1.0,0.0,...,0.0,0.0,3.0,0.0,1.0,0.0,1.0,0.0,1,0
3,0.0705,1.00000,1,0.0,0.0,0.0900,1.0,1.0,1.0,1.0,...,1.0,1.0,3.0,1.0,1.0,0.0,1.0,1.0,1,0
4,0.0705,0.84375,0,0.0,0.0,0.0900,1.0,1.0,1.0,0.0,...,0.0,0.0,2.0,1.0,1.0,0.0,1.0,0.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15608,0.0303,1.00000,1,0.0,0.0,0.0434,0.0,1.0,1.0,0.0,...,1.0,0.0,3.0,0.0,1.0,1.0,1.0,1.0,1,0
15609,0.0705,1.00000,1,0.0,0.0,0.0900,0.0,1.0,1.0,0.0,...,0.0,0.0,2.0,0.0,1.0,1.0,1.0,1.0,0,0
15610,0.0705,1.00000,1,0.0,0.0,0.0900,1.0,1.0,1.0,0.0,...,1.0,0.0,3.0,1.0,1.0,1.0,1.0,1.0,1,0
15611,0.0705,1.00000,1,0.0,0.0,0.0900,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,1.0,1.0,1.0,1.0,1.0,0,0
15612,0.0705,1.00000,1,1.0,0.0,0.0900,1.0,1.0,1.0,0.0,...,0.0,0.0,2.0,1.0,1.0,0.0,1.0,0.0,0,0

In [91]:
show_columns_uniques(df, 'GAN_CLIC')

GAN_CLIC [0.66000003 0.5        1.         0.33000001 0.        ]

In [92]:
convert_columns_to_ordinal(df, 'CUARTOS', SCALES={
    1: .02,
    2: .22,
    3: .41,
    4: .22,
    5: .09,
    6: .04,
})

,TIPO_EXA,ANO_NAC,SEXO,LENG_MA,LENG_PA,PLT_PROC,RAZ_RAPT,RAZ_RACT,RAZ_OPT,RAZ_PCUM,...,SER_TVP,SER_TABL,CUARTOS,SER_PC,SER_TV,SER_AUTO,SER_BANO,VAC_RM,DICTAMEN,VECES_EXAM
0,0.0077,0.90625,0,0.0,0.0,0.0355,0.0,1.0,1.0,0.0,...,1.0,1.0,0.22,1.0,1.0,1.0,1.0,0.0,0,0
1,0.0705,1.00000,1,0.0,0.0,0.0900,1.0,0.0,0.0,0.0,...,0.0,0.0,0.22,1.0,1.0,1.0,1.0,1.0,0,0
2,0.0705,0.90625,0,0.0,0.0,0.0900,1.0,1.0,1.0,0.0,...,0.0,0.0,0.41,0.0,1.0,0.0,1.0,0.0,1,0
3,0.0705,1.00000,1,0.0,0.0,0.0900,1.0,1.0,1.0,1.0,...,1.0,1.0,0.41,1.0,1.0,0.0,1.0,1.0,1,0
4,0.0705,0.84375,0,0.0,0.0,0.0900,1.0,1.0,1.0,0.0,...,0.0,0.0,0.22,1.0,1.0,0.0,1.0,0.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15608,0.0303,1.00000,1,0.0,0.0,0.0434,0.0,1.0,1.0,0.0,...,1.0,0.0,0.41,0.0,1.0,1.0,1.0,1.0,1,0
15609,0.0705,1.00000,1,0.0,0.0,0.0900,0.0,1.0,1.0,0.0,...,0.0,0.0,0.22,0.0,1.0,1.0,1.0,1.0,0,0
15610,0.0705,1.00000,1,0.0,0.0,0.0900,1.0,1.0,1.0,0.0,...,1.0,0.0,0.41,1.0,1.0,1.0,1.0,1.0,1,0
15611,0.0705,1.00000,1,0.0,0.0,0.0900,0.0,0.0,1.0,1.0,...,1.0,0.0,0.22,1.0,1.0,1.0,1.0,1.0,0,0
15612,0.0705,1.00000,1,1.0,0.0,0.0900,1.0,1.0,1.0,0.0,...,0.0,0.0,0.22,1.0,1.0,0.0,1.0,0.0,0,0

In [93]:
show_columns_uniques(df, 'CUARTOS')

CUARTOS [0.22 0.41 0.09 0.02 0.04]

In [94]:
'''
convert_columns_to_ordinal(df, 'SIT_LAB', SCALES={
    4: .50,
    3: .30,
    2: .17,
    1: .03
})
'''

"\nconvert_columns_to_ordinal(df, 'SIT_LAB', SCALES={\n    4: .50,\n    3: .30,\n    2: .17,\n    1: .03\n})\n"

In [95]:
show_columns_uniques(df, 'SIT_LAB')

SIT_LAB [0.33000001 0.66000003 1.         0.        ]

In [96]:
convert_columns_to_ordinal(df, 'ESC_MAD', SCALES={
    1: .02,
    2: .2,
    3: .28,
    4: .14,
    5: .15,
    6: .17,
    7: .04,
    8: .002
})

,TIPO_EXA,ANO_NAC,SEXO,LENG_MA,LENG_PA,PLT_PROC,RAZ_RAPT,RAZ_RACT,RAZ_OPT,RAZ_PCUM,...,SER_TVP,SER_TABL,CUARTOS,SER_PC,SER_TV,SER_AUTO,SER_BANO,VAC_RM,DICTAMEN,VECES_EXAM
0,0.0077,0.90625,0,0.0,0.0,0.0355,0.0,1.0,1.0,0.0,...,1.0,1.0,0.22,1.0,1.0,1.0,1.0,0.0,0,0
1,0.0705,1.00000,1,0.0,0.0,0.0900,1.0,0.0,0.0,0.0,...,0.0,0.0,0.22,1.0,1.0,1.0,1.0,1.0,0,0
2,0.0705,0.90625,0,0.0,0.0,0.0900,1.0,1.0,1.0,0.0,...,0.0,0.0,0.41,0.0,1.0,0.0,1.0,0.0,1,0
3,0.0705,1.00000,1,0.0,0.0,0.0900,1.0,1.0,1.0,1.0,...,1.0,1.0,0.41,1.0,1.0,0.0,1.0,1.0,1,0
4,0.0705,0.84375,0,0.0,0.0,0.0900,1.0,1.0,1.0,0.0,...,0.0,0.0,0.22,1.0,1.0,0.0,1.0,0.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15608,0.0303,1.00000,1,0.0,0.0,0.0434,0.0,1.0,1.0,0.0,...,1.0,0.0,0.41,0.0,1.0,1.0,1.0,1.0,1,0
15609,0.0705,1.00000,1,0.0,0.0,0.0900,0.0,1.0,1.0,0.0,...,0.0,0.0,0.22,0.0,1.0,1.0,1.0,1.0,0,0
15610,0.0705,1.00000,1,0.0,0.0,0.0900,1.0,1.0,1.0,0.0,...,1.0,0.0,0.41,1.0,1.0,1.0,1.0,1.0,1,0
15611,0.0705,1.00000,1,0.0,0.0,0.0900,0.0,0.0,1.0,1.0,...,1.0,0.0,0.22,1.0,1.0,1.0,1.0,1.0,0,0
15612,0.0705,1.00000,1,1.0,0.0,0.0900,1.0,1.0,1.0,0.0,...,0.0,0.0,0.22,1.0,1.0,0.0,1.0,0.0,0,0

In [97]:
show_columns_uniques(df, 'ESC_MAD')

ESC_MAD [0.2        0.28       0.15000001 0.02       0.14       0.17
 0.04       0.002     ]

In [98]:
convert_columns_to_ordinal(df, 'ESC_PAD', SCALES={
    1: .02,
    2: .19,
    3: .22,
    4: .15,
    5: .08,
    6: .24,
    7: .06,
    8: .02
})

,TIPO_EXA,ANO_NAC,SEXO,LENG_MA,LENG_PA,PLT_PROC,RAZ_RAPT,RAZ_RACT,RAZ_OPT,RAZ_PCUM,...,SER_TVP,SER_TABL,CUARTOS,SER_PC,SER_TV,SER_AUTO,SER_BANO,VAC_RM,DICTAMEN,VECES_EXAM
0,0.0077,0.90625,0,0.0,0.0,0.0355,0.0,1.0,1.0,0.0,...,1.0,1.0,0.22,1.0,1.0,1.0,1.0,0.0,0,0
1,0.0705,1.00000,1,0.0,0.0,0.0900,1.0,0.0,0.0,0.0,...,0.0,0.0,0.22,1.0,1.0,1.0,1.0,1.0,0,0
2,0.0705,0.90625,0,0.0,0.0,0.0900,1.0,1.0,1.0,0.0,...,0.0,0.0,0.41,0.0,1.0,0.0,1.0,0.0,1,0
3,0.0705,1.00000,1,0.0,0.0,0.0900,1.0,1.0,1.0,1.0,...,1.0,1.0,0.41,1.0,1.0,0.0,1.0,1.0,1,0
4,0.0705,0.84375,0,0.0,0.0,0.0900,1.0,1.0,1.0,0.0,...,0.0,0.0,0.22,1.0,1.0,0.0,1.0,0.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15608,0.0303,1.00000,1,0.0,0.0,0.0434,0.0,1.0,1.0,0.0,...,1.0,0.0,0.41,0.0,1.0,1.0,1.0,1.0,1,0
15609,0.0705,1.00000,1,0.0,0.0,0.0900,0.0,1.0,1.0,0.0,...,0.0,0.0,0.22,0.0,1.0,1.0,1.0,1.0,0,0
15610,0.0705,1.00000,1,0.0,0.0,0.0900,1.0,1.0,1.0,0.0,...,1.0,0.0,0.41,1.0,1.0,1.0,1.0,1.0,1,0
15611,0.0705,1.00000,1,0.0,0.0,0.0900,0.0,0.0,1.0,1.0,...,1.0,0.0,0.22,1.0,1.0,1.0,1.0,1.0,0,0
15612,0.0705,1.00000,1,1.0,0.0,0.0900,1.0,1.0,1.0,0.0,...,0.0,0.0,0.22,1.0,1.0,0.0,1.0,0.0,0,0

In [99]:
show_columns_uniques(df, 'ESC_PAD')

ESC_PAD [0.08       0.19       0.02       0.22       0.23999999 0.15000001
 0.06      ]

In [100]:
convert_columns_to_ordinal(df, 'CUAN_LIB', SCALES={
    1: .005,
    2: .13,
    3: .22,
    4: .23,
    5: .19,
    6: .12,
    7: .07,
    8: .04
})

,TIPO_EXA,ANO_NAC,SEXO,LENG_MA,LENG_PA,PLT_PROC,RAZ_RAPT,RAZ_RACT,RAZ_OPT,RAZ_PCUM,...,SER_TVP,SER_TABL,CUARTOS,SER_PC,SER_TV,SER_AUTO,SER_BANO,VAC_RM,DICTAMEN,VECES_EXAM
0,0.0077,0.90625,0,0.0,0.0,0.0355,0.0,1.0,1.0,0.0,...,1.0,1.0,0.22,1.0,1.0,1.0,1.0,0.0,0,0
1,0.0705,1.00000,1,0.0,0.0,0.0900,1.0,0.0,0.0,0.0,...,0.0,0.0,0.22,1.0,1.0,1.0,1.0,1.0,0,0
2,0.0705,0.90625,0,0.0,0.0,0.0900,1.0,1.0,1.0,0.0,...,0.0,0.0,0.41,0.0,1.0,0.0,1.0,0.0,1,0
3,0.0705,1.00000,1,0.0,0.0,0.0900,1.0,1.0,1.0,1.0,...,1.0,1.0,0.41,1.0,1.0,0.0,1.0,1.0,1,0
4,0.0705,0.84375,0,0.0,0.0,0.0900,1.0,1.0,1.0,0.0,...,0.0,0.0,0.22,1.0,1.0,0.0,1.0,0.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15608,0.0303,1.00000,1,0.0,0.0,0.0434,0.0,1.0,1.0,0.0,...,1.0,0.0,0.41,0.0,1.0,1.0,1.0,1.0,1,0
15609,0.0705,1.00000,1,0.0,0.0,0.0900,0.0,1.0,1.0,0.0,...,0.0,0.0,0.22,0.0,1.0,1.0,1.0,1.0,0,0
15610,0.0705,1.00000,1,0.0,0.0,0.0900,1.0,1.0,1.0,0.0,...,1.0,0.0,0.41,1.0,1.0,1.0,1.0,1.0,1,0
15611,0.0705,1.00000,1,0.0,0.0,0.0900,0.0,0.0,1.0,1.0,...,1.0,0.0,0.22,1.0,1.0,1.0,1.0,1.0,0,0
15612,0.0705,1.00000,1,1.0,0.0,0.0900,1.0,1.0,1.0,0.0,...,0.0,0.0,0.22,1.0,1.0,0.0,1.0,0.0,0,0

In [101]:
show_columns_uniques(df, 'CUAN_LIB')

CUAN_LIB [0.23  0.19  0.22  0.12  0.13  0.07  0.04  0.005]

In [102]:
convert_columns_to_ordinal(df, 'NIV_EDU', SCALES={
    1: .034,
    2: .02,
    3: .35,
    4: .59
})

,TIPO_EXA,ANO_NAC,SEXO,LENG_MA,LENG_PA,PLT_PROC,RAZ_RAPT,RAZ_RACT,RAZ_OPT,RAZ_PCUM,...,SER_TVP,SER_TABL,CUARTOS,SER_PC,SER_TV,SER_AUTO,SER_BANO,VAC_RM,DICTAMEN,VECES_EXAM
0,0.0077,0.90625,0,0.0,0.0,0.0355,0.0,1.0,1.0,0.0,...,1.0,1.0,0.22,1.0,1.0,1.0,1.0,0.0,0,0
1,0.0705,1.00000,1,0.0,0.0,0.0900,1.0,0.0,0.0,0.0,...,0.0,0.0,0.22,1.0,1.0,1.0,1.0,1.0,0,0
2,0.0705,0.90625,0,0.0,0.0,0.0900,1.0,1.0,1.0,0.0,...,0.0,0.0,0.41,0.0,1.0,0.0,1.0,0.0,1,0
3,0.0705,1.00000,1,0.0,0.0,0.0900,1.0,1.0,1.0,1.0,...,1.0,1.0,0.41,1.0,1.0,0.0,1.0,1.0,1,0
4,0.0705,0.84375,0,0.0,0.0,0.0900,1.0,1.0,1.0,0.0,...,0.0,0.0,0.22,1.0,1.0,0.0,1.0,0.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15608,0.0303,1.00000,1,0.0,0.0,0.0434,0.0,1.0,1.0,0.0,...,1.0,0.0,0.41,0.0,1.0,1.0,1.0,1.0,1,0
15609,0.0705,1.00000,1,0.0,0.0,0.0900,0.0,1.0,1.0,0.0,...,0.0,0.0,0.22,0.0,1.0,1.0,1.0,1.0,0,0
15610,0.0705,1.00000,1,0.0,0.0,0.0900,1.0,1.0,1.0,0.0,...,1.0,0.0,0.41,1.0,1.0,1.0,1.0,1.0,1,0
15611,0.0705,1.00000,1,0.0,0.0,0.0900,0.0,0.0,1.0,1.0,...,1.0,0.0,0.22,1.0,1.0,1.0,1.0,1.0,0,0
15612,0.0705,1.00000,1,1.0,0.0,0.0900,1.0,1.0,1.0,0.0,...,0.0,0.0,0.22,1.0,1.0,0.0,1.0,0.0,0,0

In [103]:
show_columns_uniques(df, 'NIV_EDU')

NIV_EDU [0.34999999 0.58999997 0.034      0.02      ]

In [104]:
convert_columns_to_ordinal(df, 'CPV_CASA', SCALES={
    1: .015,
    2: .08,
    3: .19,
    4: .28,
    5: .26,
    6: .19
})

,TIPO_EXA,ANO_NAC,SEXO,LENG_MA,LENG_PA,PLT_PROC,RAZ_RAPT,RAZ_RACT,RAZ_OPT,RAZ_PCUM,...,SER_TVP,SER_TABL,CUARTOS,SER_PC,SER_TV,SER_AUTO,SER_BANO,VAC_RM,DICTAMEN,VECES_EXAM
0,0.0077,0.90625,0,0.0,0.0,0.0355,0.0,1.0,1.0,0.0,...,1.0,1.0,0.22,1.0,1.0,1.0,1.0,0.0,0,0
1,0.0705,1.00000,1,0.0,0.0,0.0900,1.0,0.0,0.0,0.0,...,0.0,0.0,0.22,1.0,1.0,1.0,1.0,1.0,0,0
2,0.0705,0.90625,0,0.0,0.0,0.0900,1.0,1.0,1.0,0.0,...,0.0,0.0,0.41,0.0,1.0,0.0,1.0,0.0,1,0
3,0.0705,1.00000,1,0.0,0.0,0.0900,1.0,1.0,1.0,1.0,...,1.0,1.0,0.41,1.0,1.0,0.0,1.0,1.0,1,0
4,0.0705,0.84375,0,0.0,0.0,0.0900,1.0,1.0,1.0,0.0,...,0.0,0.0,0.22,1.0,1.0,0.0,1.0,0.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15608,0.0303,1.00000,1,0.0,0.0,0.0434,0.0,1.0,1.0,0.0,...,1.0,0.0,0.41,0.0,1.0,1.0,1.0,1.0,1,0
15609,0.0705,1.00000,1,0.0,0.0,0.0900,0.0,1.0,1.0,0.0,...,0.0,0.0,0.22,0.0,1.0,1.0,1.0,1.0,0,0
15610,0.0705,1.00000,1,0.0,0.0,0.0900,1.0,1.0,1.0,0.0,...,1.0,0.0,0.41,1.0,1.0,1.0,1.0,1.0,1,0
15611,0.0705,1.00000,1,0.0,0.0,0.0900,0.0,0.0,1.0,1.0,...,1.0,0.0,0.22,1.0,1.0,1.0,1.0,1.0,0,0
15612,0.0705,1.00000,1,1.0,0.0,0.0900,1.0,1.0,1.0,0.0,...,0.0,0.0,0.22,1.0,1.0,0.0,1.0,0.0,0,0

In [105]:
show_columns_uniques(df, 'CPV_CASA')

CPV_CASA [0.19       0.28       0.25999999 0.08       0.015     ]

**3. Normalizar las veces de intento de los examenes**

In [106]:
veces_exam_counts = df.groupby('VECES_EXAM').VECES_EXAM.count().to_dict()
veces_exam_counts

{0: 14666, 1: 887, 2: 60}

In [107]:
df.VECES_EXAM = df.VECES_EXAM.map(lambda exam_count: veces_exam_counts[exam_count] / approved_count if veces_exam_counts[exam_count] < approved_count else 1.)

In [108]:
show_columns_uniques(df, 'VECES_EXAM')

VECES_EXAM [1.         0.10887443 0.00736467]

### Saving the dataframe

In [109]:
df.to_csv('ceneval_mentor_v3.csv')